html,
body,
div,
col-,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-size: 13px;
    line-height: 150%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #565656;
    background: #fff;
    /*background: #e1e1e1;*/
    font-weight: normal;
    -webkit-font-variant-ligatures: no-common-ligatures;
}


/*-----------------------------------*/

a {
    color: #06CA0F;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
    color: #f01d4f;
    text-decoration: none !important;
    cursor: pointer !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:focus {
    outline: none;
}

p {
    margin: 15px 0 10px 0;
}

p.small {
    font-size: 11px;
    line-height: 130%;
}

small {
    font-size: 11px;
    line-height: 80%;
}

strong {
    font-weight: 700;
}

button:focus {
    outline: none;
}


/*-----------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    color: #565656;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}


/*-----------------------------------*/

ul ul {
    list-style: none;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

li {
    font-family: 'Open Sans', sans-serif;
}


/*-----------------------------------*/

img.pull-l {
    margin-right: 20px;
    margin-bottom: 10px;
}


/*-----------------------------------*/

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-appearance: none;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
    padding-left: 6px;
    padding-top: 6px;
    line-height: 1.42857143;
    color: #272727;
    background-color: #fff;
    background-image: none;
    border: 2px solid #363bec;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="search"] {
    -webkit-appearance: textfield;
    border: 2px solid #363bec;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    border: 2px solid #363bec;
}

label {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: 400;
}

label+input {
    margin-top: 0;
}

.form-control {
    height: 40px;
    font-size: 13px;
    border: 2px solid #363bec;
    padding-top: 9px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

label {
    display: block;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    *overflow: hidden;
}

.btn:hover {
    border-color: inherit;
}

.btn:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #363bec;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0);
    outline: 0 none;
}

iframe[name='google_conversion_frame'] {
    height: 0 !important;
    width: 0 !important;
    line-height: 0 !important;
    font-size: 0 !important;
    margin-top: -13px;
    float: left;
}
